# By default this workflow will be running for PRs, pushes to the main branch and on a scheduled basis
on:
  pull_request_target:
    types: [labeled]
  pull_request:
    branches: [main]
  push:
    branches: [main]
  schedule:
    # runs every day at 20:00 UTC
    - cron:  '0 20 * * *'
jobs:
  sast:
    if: |
      github.event_name == 'push' ||
      github.event_name == 'schedule' ||
      (
        github.event_name == 'pull_request' &&
        github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
      ) ||
      (
        github.event_name == 'pull_request_target' &&
        github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name &&
        github.event.label.name == 'security scan'
      )
    runs-on: sast
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4.1.1
      # Checking out SAST composite action
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4.1.1
        with: 
          repository: NordSecurity/sast-configs
          ref: main
          ssh-key: ${{ secrets.SAST_ACTION_KEY }}
          path: .github/workflows/sast
          # Checking out only SAST action and composite project configuration action
          sparse-checkout: |
            base/sast-action
            actions/nagger-sast-action
      - uses: ./.github/workflows/sast/actions/nagger-sast-action
        with:
          SAST_TEAM: ${{ secrets.SAST_TEAM }}
          SAST_URL: ${{ secrets.SAST_URL }}
          SAST_USERNAME: ${{ secrets.SAST_USERNAME }}
          SAST_PASSWORD: ${{ secrets.SAST_PASSWORD }}
          SAST_CLIENT_SECRET: ${{ secrets.SAST_CLIENT_SECRET }}
          UNC_ACTION_KEY: ${{ secrets.UNC_ACTION_KEY }}
          UNC_BRANCH_ENABLED: false
